.booking__form {
  width: 47.5%;
}

.booking__form input {
  padding: 8px 15px;
  border: 1px solid #7c8a972a;
  color: #7c8a97;
  width: 100%;
}

.booking__form select,
.textarea {
  width: 100%;
  padding: 10px 15px;
  color: #7c8a97;
  border: 1px solid #7c8a972a;
  border-radius: 4px;
}

.time__picker::before {
  content: "Journey Time";
  color: #7c8a97;
  margin-right: 0.5rem;
}

.textarea:focus,
.booking__form input:focus,
.booking__form select:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .booking__form {
    width: 100%;
  }

  .booking__form input,
  .textarea,
  .booking__form select {
    font-size: 0.8rem;
  }
}
.required-asterisk {
  color: red;
  margin-left: 2px;
}

/* Container for aligning the button */
.button-container {
  display: flex; /* Use flexbox for alignment */
  justify-content: flex-end; /* Align button to the right */
  margin-top: 20px; /* Add margin on top if needed */
}

/* Style for the toggle button */
.btn-primary {
  background-color: #ffffff; /* Primary blue color */
  border-color: #000000; /* Border color matching the background */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Font weight for emphasis */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth color transition */
}

.btn-primary:hover {
  background-color: #ffffff; /* Darker blue on hover */
  border-color: #000000; /* Border color on hover */
}

.btn-primary:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5); /* Add custom focus shadow */
}
